@media only screen and (max-width: 600px) {
  .auth-layout__wrapper {
    display: flex;
    flex-direction: column;
  }
  .auth-layout__left-container {
    background-color: #f2d086;
    height: 100vh;
  }
  .auth-layout__right-container {
    width: 100%;
  }

  .auth-layout__right-container form {
    width: 100%;
    margin: 0;
  }
  .profile-section-wrapper {
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 4rem;
  }
  .profile-section-wrapper h3 {
    font-size: 20px;
  }
  .avatar_container {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

  #choose .title {
    font-size: 20px;
  }
  #choose .description {
    font-size: small;
  }
  .choose-category {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
  }
  .left-header ul {
    display: none;
  }
  .footer-section-1 {
    background-color: #fafafa;
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    gap: 30px;
    padding: 40px;
  }
  .footer-section-1 {
    font-size: 10px;
    line-height: 20px;
  }
}

@media only screen and (max-width: 900px) {
  .auth-layout__wrapper {
    display: flex;
  }
  .auth-layout__left-container {
    width: 100%;
    background-color: #f2d086;
    height: 100vh;
  }
  .auth-layout__right-container {
    width: 100%;
  }

  .auth-layout__right-container form {
    width: 100%;
    margin: 0;
  }
}
